/* Normalize & general style*/
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: #454545;
}

a {
    text-decoration: none;
    color: #2895F1;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Navigation bar */

.site-header {
    padding: 1em 0;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0 1px 1px #d0d4d9;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trydropbox {
    height: 34px;
    padding: 0 20px;
    border-radius: 10px;
    color: #2895F1;
    font-weight: bold;
    border: 1px solid #2895F1;
    background-color: #fff;

}

.logo-link {
    display: inline-block; /* Connect two logos */
}

.logo-link img {
    height: 34px;
}

/* Welcome image and login form */

.main-wrapper {
    width: 80%;
    margin: 0 auto;
}

.login-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
}

.main-col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
}

.welcome-img img {
    max-width: 100%;
    max-height: 100%;
}

.form-wrapper {
    width: 350px;
    margin: 0 auto;
}

.login-title div {
    display: inline-block;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.google-signin button {
    width: 100%;
}

/* Form */

#remember-me,
#signin {
    display: inline-block;
}

#signin {
    padding: 1em;
}

.rem-me {
    display: flex;
    align-items: center;
}

.text-input {
    width: 100%;
}

/* Footer */

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.info-wrapper {
    display: flex;
    font-size: 0.925em;
    font-weight: 100;
}

.info-col {
    padding: 0 2em;
}

.info-col a {
    color: inherit;
}
